.filters-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 30px;

  &__main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__control-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__year-select {
    z-index: 0;

    width: 200px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    line-height: 0;

    height: 20px;
    width: 100px;

    padding: 15px;
    margin-top: 20px;

    font-size: larger;
    cursor: pointer;

    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #6a6666;
    color: white;
  }

  &__filter-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 10px;
  }

  &__field-name {
    margin-bottom: 5px;
  }

  &__date-picker {
    height: 25px;
    font-size: 16px;
  }

  &__text-input {
    height: 25px;
    font-size: 16px;
  }

  &__date-picker {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
