.books-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__found-number {
    margin-bottom: 15px;

    font-size: larger;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;

    padding: 0 50px 50px;
  }
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 150px;


  &__button {
    cursor: pointer;

    border: none;
    border-bottom: 1px dotted #6a6666;
    outline: none;

    padding: 0 10px;
    margin: 5px;

    color: #6a6666;
    font-size: larger;

    background-color: transparent;

    &_control {
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {
      border-bottom: 1px solid #6a6666;
    }

    &_selected {
      background-color: white;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }

  &__page-button {
    &:hover {
    }
  }

  &__page-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
