.book {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;

  &_editing {
    flex-direction: column;
    align-items: flex-start;
  }

  &__editor-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 220px;

    margin-top: 15px;
  }

  &__editor-input {
    color: black;

    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__main-info {

  }

  &__title {
    font-weight: bold;
  }

  &__written-by {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: smaller;
  }

  &__author {
  }

  &__year {
    margin-left: 2px;
  }

  &__genres {
    display: flex;
    flex-direction: column;

    margin-right: 50px;

    font-size: x-small;
    color: #6a6666;
  }

  &__genre {
    margin: 1px;
  }

  &__edit-button {
    position: absolute;
    top: 5px;
    right: 5px;

    outline: none;
    border: none;
  }
}

.creator-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__button {
    border: none;
    outline: none;

    background: transparent;

    font-size: x-large;
  }
}
